project:
  type: website
  output-dir: _site
  render:
    - "*.qmd" 
    - "!template.qmd"

website:
  title: "@GNOBLET TidyTuesday Visualizations"
  description: "A collection of data visualizations for Tidy Tuesday challenges"
  search: false
  back-to-top-navigation: true
  page-footer: 
    left: "Please cite, it's nice! <br>---Guillaume Noblet (2025). Tidy Tuesday Gallery."
    
  navbar: false
    # title: "@GNOBLET"
    # left:
    #   - href: index.qmd
    #     text: Home

    # tools:
    #   - icon: github
    #     href: https://github.com/gnoblet/TidyTuesday
    #   - icon: bluesky
    #     href: https://bsky.app/profile/gnoblet.bsky.social
    #   - icon: linkedin
    #     href: https://www.linkedin.com/in/gnoblet/
    #   - icon: envelope
    #     href: mailto:gnoblet@zaclys.net

format:
  html:
    theme: [darkly, styles.scss]
    mainfont: "Inter"
    toc-location: right
    toc: false
    highlight-style: github
    title-block-banner: false
    smooth-scroll: true
    grid:
      sidebar-width: 250px
      body-width: 700px
      margin-width: 200px

execute:
  freeze: auto
  warning: false
  message: false

resources:
  - posts/
  - fonts/
